<% content_for :title, "Editing unidade" %>

<h1>Editing unidade</h1>

<%= render "form", unidade: @unidade %>

<br>

<div class="voltar-unidades voltar">
  <%= link_to "Show this unidade", @unidade, class: "btn btn-primary" %> |
  <%= link_to "Back to unidades", unidades_path, class: "btn btn-primary" %>
</div>
