<p style="color: green"><%= notice %></p>

<% content_for :title, "Unidades" %>

<h1 class="unidades-title">Unidades</h1>

<div class="table-container">
  <table class="unidades-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <%= render @unidades %>
    </tbody>
  </table>
</div>

<div class="voltar-unidades voltar text-center mt-4">
  <%= link_to "New unidade", new_unidade_path, class: "btn btn-primary" %>
</div>

<div class="voltar-home voltar text-center mt-4">
  <%= link_to "Voltar para a Home", root_path, class: "btn btn-secondary" %>
</div>
