<% content_for :title, "New unidade" %>

<h1>Nova unidade</h1>

<div class="pre_form">
  <%= render "form", unidade: @unidade %>
</div>

<br>

<div class="voltar-unidades voltar">
  <%= link_to "Voltar para unidades", unidades_path, class: "btn btn-primary" %>
</div>
