<% content_for :title, "Editing guarda" %>

<h1>Editando guarda</h1>

<%= render "form", guarda: @guarda %>

<br>

<div class="voltar-home">
  <!--
    <%= link_to "Show this guarda", @guarda, class: "btn btn-primary" %> |
  -->
  <%= link_to "Voltar para guardas", guardas_path, class: "btn btn-primary voltar_key" %>
</div>
