<% content_for :title, "Editing guarda" %>

<h1>Editing guarda</h1>

<%= render "form", guarda: @guarda %>

<br>

<div>
  <%= link_to "Show this guarda", @guarda %> |
  <%= link_to "Back to guardas", guardas_path %>
</div>
