<p style="color: green"><%= notice %></p>

<% content_for :title, "Guardas" %>

<h1>Guardas</h1>

<div id="guardas">
  <% @guardas.each do |guarda| %>
    <%= render guarda %>
    <p>
      <%= link_to "Show this guarda", guarda %>
    </p>
  <% end %>
</div>

<%= link_to "New guarda", new_guarda_path %>
