<% content_for :title, "New guarda" %>

<h1>Novo guarda</h1>

<%= render "form", guarda: @guarda %>

<br>

<div>
  <%= link_to "Voltar para guardas", guardas_path, class: "btn btn-primary voltar_key" %>
</div>
