<p style="color: green"><%= notice %></p>

<% content_for :title, "Equipes" %>

<h1>Equipes</h1>

<div class="table-container">
  <table class="equipes-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <%= render @equipes %>
    </tbody>
  </table>
</div>


<div class="voltar-home voltar text-center mt-4">
  <%= link_to "Cadastrar nova equipe", new_equipe_path, class: "btn btn-primary" %>
  <%= link_to "Voltar para a Home", root_path, class: "btn btn-secondary" %>
</div>
