<div id="<%= dom_id arma %>" class="arma-card">
  <div class="arma-header">
    <h3 class="arma-title"><%= arma.modelo %></h3>
  </div>
  <div class="arma-body">
    <p class="arma-detail">
      <strong>Registro:</strong> <%= arma.registro %>
    </p>
    <p class="arma-detail">
      <strong>Emprestada:</strong> <%= arma.emprestada ? 'Sim' : 'Não' %>
    </p>
  </div>
</div>
