<div id="<%= dom_id arma %>">
  <p>
    <strong>Modelo:</strong>
    <%= arma.modelo %>
  </p>

  <p>
    <strong>Registro:</strong>
    <%= arma.registro %>
  </p>

  <p>
    <strong>Emprestada:</strong>
    <%= arma.emprestada %>
  </p>

</div>
