<p style="color: green"><%= notice %></p>

<% content_for :title, "Armas" %>

<h1>Armas</h1>

<div id="armas">
  <% @armas.each do |arma| %>
    <%= render arma %>
    <p>
      <%= link_to "Show this arma", arma %>
    </p>
  <% end %>
</div>

<%= link_to "New arma", new_arma_path %>
