<% content_for :title, "Movimentacaos" %>

<h1>Movimentacaos</h1>

<div class="movimentacoes-container">
  <% @movimentacaos.each do |movimentacao| %>
    <div class="movimentacao-card">
      <div class="movimentacao-header">
        <%= render movimentacao %>
      </div>
      <div class="movimentacao-links">
        <p>
          <%= link_to "Show this movimentacao", movimentacao, class: "btn btn-primary" %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Nova movimentação", new_movimentacao_path, class: "btn btn-success" %>

<div class="voltar-home text-center mt-4">
  <%= link_to "Voltar para a Home", root_path, class: "btn btn-secondary" %>
</div>