<% content_for :title, "Nova movimentacao" %>

<div class="movimentacoes-container">
  <h1>Nova movimentação</h1>
  <div class="movimentacao-card">
    <%= render "form", movimentacao: @movimentacao %>
  </div>
  <div class="movimentacao-links">
    <%= link_to "Voltar para movimentacaos", movimentacaos_path, class: "btn btn-secondary voltar_key" %>
  </div>
</div>
