<% content_for :title, "New movimentacao" %>

<div class="movimentacoes-container">
  <h1>New movimentacao</h1>

  <div class="movimentacao-card">
    <%= render "form", movimentacao: @movimentacao %>
  </div>

  <div class="movimentacao-links">
    <%= link_to "Voltar para movimentacao", movimentacaos_path, class: "btn btn-secondary" %>
  </div>
</div>
