/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Títulos */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-container .search-input {
  max-width: 300px;
  margin: 0 auto;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-container .search-input:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Centralização dos links de navegação */
.voltar-unidades, .voltar-home, .voltar {
  margin-top: 20px;
  text-align: center;
}

.acoes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
} 

.btn-edit, .btn-delete {
  width: 100px; /* Largura fixa */
  height: 40px; /* Altura fixa */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

/* Botão Editar - Amarelo */
.btn-edit {
  background-color: #ffc107; /* Amarelo */
  color: black;
}

.btn-edit:hover {
  background-color: #e0a800; /* Amarelo escuro */
  color: black;
}

/* Botão Excluir - Vermelho */
.btn-delete {
  background-color: #dc3545; /* Vermelho */
  color: white;
}

.btn-delete:hover {
  background-color: #c82333; /* Vermelho escuro */
  color: white;
}